#app{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

#MoviesList{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.MovieItem{
    max-width: 200px;
    padding: 10px;
    border: 2px solid black;
    background: navajowhite;
}


