#root{
    background: rgba(244, 244, 244, 0.4);
}
.wrapper{
    padding: 30px 115px 0 115px;
}

.nav a{
    text-decoration: none;
    font-style: normal;
    color: #0F2336;
}

.content_left h2{
    font-weight: 700;
    font-size: 55px;
    color: #00CCCC;
}
